helix/.config/helix/runtime/grammars
karabiner/.config/karabiner/automatic_backups
karabiner/.config/karabiner/node_modules
tmux/.config/tmux/plugins/tmuxifier
opencode/.config/opencode/.opencode.json
