[user]
	name = xavier-castro
	email = xavier_castro@icloud.com
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
  hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all

[alias]
  llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative

[alias]
  df = "!git hist | peco | awk '{print $2}' | xargs -I {} git diff {}^ {}"

[alias]
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"

[alias]
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"

[alias]
  br = branch

[alias]
  open = "!hub browse"

