karabiner/.config/karabiner/automatic_backups
**/node_modules/
# Make all `.DS_Store` hidden files be ignored
**/.DS_Store
# Ignore private environment files
zsh/.zshenv_private
**/.zshenv_private
.aider*
asdf/.config/asdf/custom_data_dir/plugin-index
